#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-color: #ced6dd;
    width: 400px;
    font-weight: bolder;
    font-family: 'Clicker Script';
    box-shadow: 0 0 30px #dfd9d9;
    border-radius: 12%;
    position: relative;
    top: 142px;
    margin-left: 35%;
}
.input-box {
    padding: 10px;
    border-radius: 15px;
    border: none;
    outline-color:rgb(166, 231, 209);
    width: 250px;
}
.drop-box {
    padding-right: 65px;
    font-family: 'Clicker Script';
    color: #3785f3;
    font-weight: bolder;
}
#btn {
    border: none;
    background-color: #71a9f8;
    width: 250px;
    align-content: center;
    padding-right: 55px;
    padding-left: 55px;
    color: white;
}
.btn-text {
    height: 10px;
}
input::placeholder {
    font-family: 'Clicker Script';
    font-weight: bold;
    font-size: medium;
}
.heading {
    position: relative;
    bottom: 30px;
    color: #3785f3;
}

#signup-link{
   margin-left: 45%;
    position: relative;
    top: 150px;
    width: 80%;
    display: flex;
    font-weight: 600;
    flex-direction: row;
    /* margin-right: 8px; */
    font-family: inherit;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

#link-color {
    color: black;
    text-decoration: underline;
}
.user-img{
    width: 35%;
    height: 50%;
    background-size: 100%;
    position: absolute;
    left: 810px;
    margin-top: 12%;
}

.login-img {
    display: flex;
    flex-direction: row;
}
