.user-view {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

#result-box {
  height: 280px;
  background-color: rgb(231, 209, 252);
  /* -webkit-box-shadow: 0 0 30px #feb2e3;
    box-shadow: 0 0 30px #f3bfee; */
  width: 300px;
  margin-left: 40%;
  /* margin-top: 8%; */
  padding-left: 4%;
  padding-top: 3%;
  border-radius: 8%;
  color: rgb(213, 64, 34);
  font-weight: bold;
}

#student-submit {
  background-color: rgb(37, 109, 197);
  color: white;
}

.heading {
  text-align: center;
  padding-top: 6%;
}

.name-tag {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  color: black;
}

#new-result {
  background-color: rgb(37, 109, 197);
  color: white;
  border: none;
  margin-left: 45%;
  margin-top: 2%;
}